<mat-card fxFlex fxLayout="column">
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card-title>{{ queue.aircraft.displayName }}</mat-card-title>
    <button (click)="addLoad()" mat-mini-fab color="accent"><mat-icon>add</mat-icon></button>
  </mat-card-header>
  <mat-card-content fxFlex style="margin-top:.3rem">
    <div class="load-queue" fxFlex fxLayout="column">
      <app-load [load]="load" *ngFor="let load of loads$ | async"></app-load>
    </div>
  </mat-card-content>
</mat-card>