<mat-nav-list>
  <h3 matSubheader>Navigation</h3>
  <a mat-list-item
    routerLink="/schedule"
    *ngIf="authenticated"
    (click)="onCloseSidenav()">
    <mat-icon matListIcon>list</mat-icon>
    <h4 matLine>Schedule</h4>
  </a>
  <a mat-list-item
    routerLink="/manifest"
    (click)="onCloseSidenav()">
    <mat-icon matListIcon>cached</mat-icon>
    <h4 matLine>Manifest</h4>
  </a>
  <a mat-list-item
    routerLink="/profile"
    *ngIf="authenticated"
    (click)="onCloseSidenav()">
    <mat-icon matListIcon>person</mat-icon>
    <h4 matLine>Profile</h4>
  </a>
  <mat-divider></mat-divider>
  <h3 matSubheader>Action</h3>
  <a mat-list-item
    *ngIf="!authenticated"
    routerLink="/register"
    (click)="onCloseSidenav()">
    <mat-icon matListIcon>face</mat-icon>
    <h4 matLine>Register</h4>
  </a>
  <a mat-list-item
    *ngIf="!authenticated"
    routerLink="/login"
    (click)="onCloseSidenav()">
    <mat-icon matListIcon>input</mat-icon>
    <h4 matLine>Login</h4>
  </a>
  <a mat-list-item
    *ngIf="authenticated"
    (click)="onLogout()">
    <mat-icon matListIcon>eject</mat-icon>
    <h4 matLine>Logout</h4>
  </a>
</mat-nav-list>