<mat-card>
  <mat-card-header>
    <mat-card-title>
      <button (click)="onRemoveLoad()" mat-icon-button color="warn"><mat-icon>remove</mat-icon></button>Load 1
      Load
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu"><mat-icon>add</mat-icon></button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="onCreateSoloJump()">Solo</button>
        <button mat-menu-item (click)="onCreateTandemJump()">Tandem</button>
        <button mat-menu-item (click)="onCreateAFFJump()">AFF</button>
      </mat-menu>
      <!--<button (click)="onRemoveLoad()" mat-icon-button color="warn"><mat-icon>remove</mat-icon></button>Load 1-->
    </mat-card-title>
    <!--<button (click)="onCreateJump()" mat-icon-button color="primary">Solo</button>-->
    <!--<mat-chip-list>-->
      <!--<mat-chip>Solo</mat-chip>-->
    <!--</mat-chip-list>-->
  </mat-card-header>
  <mat-card-content>
    <mat-list dense>
      <app-jump *ngFor="let jump of jumps$ | async" [jump]="jump"></app-jump>
    </mat-list>
  </mat-card-content>
</mat-card>