<mat-sidenav-container
  (backdropClick)="onCloseSidenav()">
  <mat-sidenav
    disableClose
    #sidenav
    [opened]="showSidenav$ | async"
    role="navigation">
    <app-sidenav-list [authenticated]="user$ | async"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <app-header [authenticated]="user$ | async"></app-header>
    <main fxFlex>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
