<div fxFill fxLayout="column" fxLayoutAlign="start center">
  <mat-card fxFlexOffset="5">
    <mat-card-header>
      <mat-card-title [ngStyle]="{'text-align': 'center'}"><h1>Register</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
      <button mat-raised-button (click)="googleRegister()"><mat-icon svgIcon="google"></mat-icon>Google</button>
      <button mat-raised-button style="background-color: #3b5998; color: white;"><mat-icon svgIcon="facebook"></mat-icon>Facebook</button>

      <div style="text-align:center;padding-top:10px;">or</div>
      <mat-divider [inset]="true" style="padding: 10px 0;"></mat-divider>
      <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
        #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
          <input
            type="email"
            matInput
            placeholder="Your email"
            ngModel
            name="email"
            email
            required
            #emailInput="ngModel">
          <mat-error *ngIf="emailInput.hasError('required')">Field must not be
            empty
          </mat-error>
          <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid
          </mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Should be at least 6 characters long">
          <input
            type="password"
            matInput
            placeholder="Your password"
            ngModel
            name="password"
            required
            minLength="6"
            #pwInput="ngModel">
          <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
          <mat-error>Has to be at least 6 characters long</mat-error>
        </mat-form-field>
        <button
          *ngIf="!(isLoading$ | async)"
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid">Submit
        </button>
        <mat-spinner
          *ngIf="(isLoading$ | async)"></mat-spinner>
      </form>
    </mat-card-content>
  </mat-card>
</div>