<div fxFill class="schedule-container">
  <div fxFlex class="schedule-board" fxFlexLayout="row">
    <app-queue fxFlex="400px" [queue]="queue" *ngFor="let queue of queues$ | async"></app-queue>
  </div>
</div>