<h2 mat-dialog-title>Create Jump</h2>
<mat-dialog-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <mat-select
        name="jumper"
        ngModel
        #jumperSelect="ngModel"
        placeholder="Jumper">
        <mat-option *ngFor="let jumper of jumpers$ | async" [value]="jumper.uid">
          <img matListAvatar src="{{ jumper.photoURL }}" height="25" />
          <span matLine>{{ jumper.displayName }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-button [mat-dialog-close]="false">No</button>
      <button mat-button type="submit">Yes</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>